<% if user_signed_in? %>
  <%= form_with(model: [ @product, @comment ]) do |form| %>
    <div id="rating-form">
      <label> <h5>Rating </h5> </label>
    </div>
    <div class="field">
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="field">
      <%= form.submit "Create Review", style: 'color:white;', class: "btn btn-info" %>
    </div>

  <% end %>
<% end %>
<script>
  $('#rating-form').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'comment[rating]'
  });
</script>