
<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
 
 <div class="field">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control", rows: "3" %>
  </div>
 
  <div class="field">
    <%= f.label :price, class: "form-label" %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="field">
    <%= select_tag "product[category_id]", options_from_collection_for_select(Category.all, "id", "name"), prompt: "Select Category", class: "form-select form-select-lg mb-3" %>
  </div>

  <div class="field">
    <%= f.label :quantity, class: "form-label" %>
    <%= f.text_field :quantity, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :avatars, class: "form-label"%>
    <%= f.file_field :avatars, multiple: true, class: "form-control form-control-lg" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Submit", style: 'color:white;', class: "btn btn-info btn-lg" %>
  </div>
<% end %>
