<div class="container">
  <br>
  <div class="row">
    <% @products.each do |product| %>
    <% $avrg_rating = product.comments.average(:rating) %>
      <div class="col-lg-4">
        <div class="card" style="width: 18rem; border-style: solid; border-width: 1px; border-color: blue; color: black;">
          <div class="card-header" style="text-align: center;">
            <h5><%= product.name %></h5>
          </div>
          <div class="card-body">
            <% if product.avatars[0].nil? %>
              <p>Image not available</p>
            <% else %>
              <%= image_tag product.avatars[0].url, size: '250x280' %>
            <% end %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><h5>Stock: <%= product.quantity %></h5></li>
              <li class="list-group-item"><h5>Price: <strong><%= product.price %>.00 $</strong></h5></li>
              <li class="list-group-item"><h5>Category: <%= Category.find(product.category_id).name%></h5></li>
              <li class="list-group-item">
                <div class="average-review-rating">
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer">
            <%= link_to 'Show', product, style: 'color:white;', class: "btn btn-danger" %>
          </div>
        </div>
        <br>
      </div>
      
    <% end %>
    <%= paginate @products %>
  </div>
</div>
<script>
   $(".average-review-rating").rateYo({
       rating: '<%= $averge_rating %>',
       spacing: "10px",
       numStars: 5,
       minValue: 0,
       maxValue: 5,
       normalFill: 'black',
       ratedFill: 'orange',
       readOnly: true
   });
</script>